In [2]:
import pandas as pd

In [12]:
df=pd.read_csv('amazon_alexa.tsv', sep='\t')

In [13]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [15]:
df.isnull().sum()

rating              0
date                0
variation           0
verified_reviews    0
feedback            0
dtype: int64

In [33]:
df['review_length']=df['verified_reviews'].apply(len)
df.head()

,rating,date,variation,verified_reviews,feedback,review_length
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172
4,5,31-Jul-18,Charcoal Fabric,Music,1,5

In [25]:
df.groupby('review_length').describe().sample(10)

              rating                                              feedback  \
               count      mean       std  min  25%  50%  75%  max    count
review_length
1686             1.0  2.000000       NaN  2.0  2.0  2.0  2.0  2.0      1.0
392              2.0  5.000000  0.000000  5.0  5.0  5.0  5.0  5.0      2.0
91              13.0  4.307692  1.109400  1.0  4.0  5.0  5.0  5.0     13.0
95              13.0  5.000000  0.000000  5.0  5.0  5.0  5.0  5.0     13.0
430              1.0  4.000000       NaN  4.0  4.0  4.0  4.0  4.0      1.0
936              1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0      1.0
98              14.0  4.500000  0.759555  3.0  4.0  5.0  5.0  5.0     14.0
59              14.0  4.285714  0.825420  3.0  4.0  4.5  5.0  5.0     14.0
22              35.0  4.285714  1.525690  1.0  5.0  5.0  5.0  5.0     35.0
340              3.0  2.333333  2.309401  1.0  1.0  1.0  3.0  5.0      3.0


                   mean       std  min  25%  50%  75%  max
review_length
1686           0.000000       NaN  0.0  0.0  0.0  0.0  0.0
392            1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
91             0.923077  0.277350  0.0  1.0  1.0  1.0  1.0
95             1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
430            1.000000       NaN  1.0  1.0  1.0  1.0  1.0
936            0.000000       NaN  0.0  0.0  0.0  0.0  0.0
98             1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
59             1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
22             0.828571  0.382385  0.0  1.0  1.0  1.0  1.0
340            0.333333  0.577350  0.0  0.0  0.0  0.5  1.0

In [30]:
df1 = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df1.head()

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

In [29]:
df1.apply(sum,axis=0)

A     10
B    100
C    200
dtype: int64